[submodule "external/cpp-httplib"]
	path = external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "external/libjaltop"]
	path = external/libjaltop
	url = https://github.com/jalsol/libjaltop
